*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

html, body{
    height: 100%;
    width: 100%;
}

.main{
    height: 100vh;
    width: 100%;
    background-color:#21B6A8;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.container{
    height: 83%;
    width: 83%;
    border: 2px solid black;
    overflow: hidden;
    border-radius: 10px;
}

.scoreboard{
    height: 70px;
    width: 100%;
    background-color:#116530;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.sele{
    display: flex;
    align-items: center;
    gap: 15px;
}
.sbox{
    color: black;
    background-color: white;
    height: 30px;
    width: 50px;
    display: flex;
    align-items: center;
    overflow: hidden;
}


.gamepage{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
    padding: 15px;
   height: calc(100% - 70px);
    background-color: #18A558;
    
}

.circle{
    height: 50px;
    width: 50px;
    border-radius: 100px;
    background-color: #A3EBB1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight:bolder;
    font-size: large;
    cursor: pointer;
}

.circle:hover{
    background-color: #2c6b48;
}
